body{
    margin: 0rem;
}
h1{
    font-family: 'Nunito Sans';
}
h2{
    font-family: 'Quicksand';
}
p{
    font-family: "Quicksand";
}
header img:first-of-type{
    width: 100%;
}
header > article:first-child > section:nth-child(2){
    position: absolute;
    width: 61rem;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);

}
header > article:first-child > section:nth-child(2) h2{
    color: white;
    font-size: 1.9rem;
    text-align: right;
    margin-top: 0;
}
header > article:first-child > section:nth-child(2) h1{
    color: white;
    font-size: 5rem;    
    text-align: right;
    margin-bottom: 0;
}
body article:nth-child(2) section:nth-child(1){
    font-size: 1.5rem;
    text-align: center;
}
body article:nth-child(2) section:nth-child(2){
    font-size: 3rem;
    text-align: center;
    border-bottom: 0.15rem solid black;
    width: 60%;
    margin: 0 auto;
}
body article:nth-child(2) section:nth-child(2) h1{
    margin-top: -1.5rem;
    margin-bottom: 2rem;

}
body article:first-of-type section:nth-child(3){
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin-top: 1.5rem;
}
body article:first-of-type section:nth-child(3) img{
    width: 6rem;
    border-radius: 50%;
    border: 2px solid #000;
    margin-right: 1rem;
}
body > article {
    background-color: white;
    width: 1400px;
    position: relative;
    margin: -6rem auto 0;
    margin-bottom: 10rem;
    z-index: 1;
    padding: 20px;
}
body article:nth-child(3) section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
body article:nth-child(3) section span img{
    width: 50rem;
    box-shadow: 5px 5px 2px rgb(183, 183, 183);
}
body article:nth-child(3) section span p{
    text-align: center;
    font-size: 1.2rem;
}
body article:nth-child(3) section aside{
    margin-left: 2rem;
}
body article:nth-child(3) section aside h1{
    font-size: 2rem;
}
body article:nth-child(3) section aside p{
    font-size: 1.5rem;
}
body article:nth-child(4) section:first-child{
    width: 70rem;
    text-align: left;
    margin: 0 auto;
}
body article:nth-child(4) section:first-child h1{
    font-size: 3rem;
}
body article:nth-child(4) section:first-child p{
    font-size: 2rem;
}
body article:nth-child(5){
    width: 100%;
    margin: 0;
    padding: 0;

}
body article:nth-child(5) section:first-child{
    width: 100%;
    margin: 0;
    padding: 0;

}
video{
    width: 100%;
    padding: 0;
    margin-bottom: 7rem;
}

body article:nth-child(6) section img,
body article:nth-child(8) section img{
    width: 30px;
    padding-right:1rem;
}
body article:nth-child(6) section,
body article:nth-child(8) section {
    display: flex;
    flex-direction: row;
}

body article:nth-child(7) section img,
body article:nth-child(9) section img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
body article:nth-child(7),
body article:nth-child(9){
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}
body article:nth-child(7) section,
body article:nth-child(9) section{
    margin: 0.5rem;
}
body article:nth-child(6),
body article:nth-child(8){
    margin-bottom: 4rem;
}
body article:nth-child(10),body article:nth-child(10) section,body article:nth-child(10) section img{
    width: 100%;
    padding: 0;
    margin-top: 5rem;
    margin-bottom: 0rem;
    height: 75rem;
}
body article:nth-child(10) section:nth-child(2) h1{
    font-size: 2.5rem;
}
body article:nth-child(10) section:nth-child(2) p{
    font-size: 1.5rem;
}
body article:nth-child(10) section:nth-child(2){
    position: absolute;
    width: 31rem;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
body article:nth-child(11) section{
    display: flex;
    justify-content: center;
    align-items: center;
}
body article:nth-child(11) section img{
    width: 60px;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: -4rem;
}
body article:nth-child(11){
    background: none;
}